<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% 
            if(todos.length > 0){
            for (let todo of todos) { %>

                <div class="post-preview">
                    <a href="/todos/<%= todo._id %>">
                        <h2 class="post-title">
                            <%= todo.title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= todo.shortExplanation %>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Mr ToDo</a> on
                        <%= todo.createdAt %>
                    </p>
                </div>

                <% }} else { %>
                    <div class="post-preview">
                        <h2 class="post-title">
                            Currently <%= todos.length %> created
                        </h2>
                    </div>
                    <% } %>
                        <hr>
                        <!--
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                    <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                            Failure is not an option
                        </h2>
                    <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
            </div>
            <hr>
-->
                        <!-- Pager -->
                        <ul class="pager">
                            <li class="next">
                                <a href="#">Older Posts &rarr;</a>
                            </li>
                        </ul>
        </div>
    </div>
</div>