<!DOCTYPE html>
<html lang="en">

<%- include('common/head.ejs') %>

    <body>

        <%- include('navigation/menu.ejs') %>
            <%- include('navigation/titleContainer.ejs') %>

                <div class="container">
                    <div class="row">
                        <p>Hello Dear
                            <%= user.username %>, for the moment, I know your password... (It is "
                                <%= user.password %>" but shhh...)
                        </p>
                    </div>
                </div>
                <hr>
                <%- include('navigation/footer.ejs') %>
                    <%- include('common/lateScripts.ejs') %>
    </body>

</html>