<!DOCTYPE html>
<html lang="en">

<%- include('common/head.ejs') %>

    <body>

        <%- include('navigation/menu.ejs') %>
            <%- include('navigation/titleContainer.ejs') %>

                <div class="container">
                    <div class="row">
                        <%- include('todos/createButton.ejs') %>
                            <%- include('todos/create.ejs') %>
                                <%- include('todos/todoList.ejs') %>
                    </div>
                </div>
                <hr>
                <%- include('navigation/footer.ejs') %>
                    <%- include('common/lateScripts.ejs') %>
    </body>

</html>